
.row-container {
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
    justify-content: space-between;
    cursor: pointer;
    margin-top:50px;
   
}


.movie-title {
    
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}


.movie-container{
    
    
    margin-left:30px;

}